node_modules/
.vscode/
spike_arvr905/arvr905/package-lock.json
spike_arvr905/report.html
spike_arvr905/log.html
spike_arvr905/output.xml
log.html
output.xml
report.html
spike_arvr905/selenium-screenshot-1.png
spike_arvr905/selenium-screenshot-2.png
spike_arvr905/selenium-screenshot-3.png
spike_arvr905/selenium-screenshot-4.png
spike_arvr905/selenium-screenshot-5.png
spike_arvr905/arvr905/package-lock.json
spike_arvr905/arvr905/package-lock.json
terraform/infrastructure/*/.terraform
terraform/infrastructure/*/terraform.tfstate
terraform/infrastructure/*/terraform.tfstate.backup
.DS_Store