@import "../../shared/styles/styles.scss";

.chapter-scene-selector {
    @include displayFlex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    margin-top: 72px;

    justify-content: center;
    align-items: center;

    &__description {
        height: 80%;
        width: 45%;

        + .chapter-scene-selector__list-of {
            margin-left: 40px;
        }
    }

    &__list-of {
        height: 80%;
        width: 45%;
    }

    @include desktop1080p{
        height: 85%;

    }
}