@import "../../shared/styles/styles.scss";


.freeplay{
    @include displayFlex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

    &__card-container {
        margin: 64px;
    }
}

canvas {
    height: 600px;
}